In [1]:
#read data 
import pandas as pd
#import matplotlib.pyplot as plt
togo=pd.read_csv('/home/user/Desktop/data/togo-dapaong_qc.csv')

In [2]:
#display data from header
togo.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-25 00:01,-1.3,0.0,0.0,0.0,0.0,24.8,94.5,0.9,1.1,0.4,227.6,1.1,977,0,0.0,24.7,24.4,NaN
1,2021-10-25 00:02,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.1,1.6,0.4,229.3,0.7,977,0,0.0,24.7,24.4,NaN
2,2021-10-25 00:03,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.2,1.4,0.3,228.5,2.9,977,0,0.0,24.7,24.4,NaN
3,2021-10-25 00:04,-1.2,0.0,0.0,0.0,0.0,24.8,94.3,1.2,1.6,0.3,229.1,4.6,977,0,0.0,24.7,24.4,NaN
4,2021-10-25 00:05,-1.2,0.0,0.0,0.0,0.0,24.8,94.0,1.3,1.6,0.4,227.5,1.6,977,0,0.0,24.7,24.4,NaN

In [3]:
#filter empty outlier 
togo.isnull().sum()

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

In [4]:
#remove empty colomn comment which has no values and coppied the data to benin_cleaned
togo_cleaned = togo.drop(columns=['Comments'])

In [5]:
#hence the comment colomn comment is empty value, we can drop from the table 
togo_cleaned = togo.drop(columns=['Comments'])
togo_cleaned.isnull().sum()

Timestamp        0
GHI              0
DNI              0
DHI              0
ModA             0
ModB             0
Tamb             0
RH               0
WS               0
WSgust           0
WSstdev          0
WD               0
WDstdev          0
BP               0
Cleaning         0
Precipitation    0
TModA            0
TModB            0
dtype: int64

In [6]:
#display more information about the data 
togo_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
dtypes: float64(15), int64(2), object(1)
memory usage: 72.2+ MB

In [7]:
# Convert the 'Timestamp' column to datetime format.currently it is an object type
togo_cleaned['Timestamp'] = pd.to_datetime(togo_cleaned['Timestamp'])

In [8]:
#select KPI column from the available 
kpi_columns = togo_cleaned.drop(columns=['Timestamp','Tamb','WSgust','WSstdev','WD','WDstdev','Cleaning','Precipitation','TModA','TModB'])
kpi_columns.head()

   GHI  DNI  DHI  ModA  ModB    RH   WS   BP
0 -1.3  0.0  0.0   0.0   0.0  94.5  0.9  977
1 -1.3  0.0  0.0   0.0   0.0  94.4  1.1  977
2 -1.3  0.0  0.0   0.0   0.0  94.4  1.2  977
3 -1.2  0.0  0.0   0.0   0.0  94.3  1.2  977
4 -1.2  0.0  0.0   0.0   0.0  94.0  1.3  977

In [9]:
kpi_columns.describe()

,GHI,DNI,DHI,ModA,ModB,RH,WS,BP
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000
mean,230.555040,151.258469,116.444352,226.144375,219.568588,55.013160,2.368093,975.915242
std,322.532347,250.956962,156.520714,317.346938,307.932510,28.778732,1.462668,2.153977
min,-12.700000,0.000000,0.000000,0.000000,0.000000,3.300000,0.000000,968.000000
25%,-2.200000,0.000000,0.000000,0.000000,0.000000,26.500000,1.400000,975.000000
50%,2.100000,0.000000,2.500000,4.400000,4.300000,59.300000,2.200000,976.000000
75%,442.400000,246.400000,215.700000,422.525000,411.000000,80.800000,3.200000,977.000000
max,1424.000000,1004.500000,805.700000,1380.000000,1367.000000,99.800000,16.100000,983.000000